body{
          			background: #FFEFD5;
        		    border: 12px double #800000;
        }
        #comeco {
                color: #ff7b00;
                font-size: 25px;                    
                margin-left: 20px;
                margin-right: 20px;
        }
        #beneficios { 
				background: #FFC284;
                text-align: center;
                border: 5px dashed #D2691E;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-top: 10px;
        }
        h1{
                font-size: 50px;
				text-align: center;
				color: #941e32;
        }
        .bene {
                color:#94283a;
        }
	.Orpheu {
                border: 5px outset #D2691E;  
        }
