body{
          			background: #FFEFD5;
        		    border: 12px double #800000;
            }
        h1 {
                    font-size: 55px;
                    text-align: center;
                    color: #941e32;
            }
        #comeco {
                color: #ff7b00;
                font-size: 25px;                    
                margin-left: 20px;
                margin-right: 20px;
        }
        p {
          font-size: 30px;
	  text-align: center;
	  color:#941e32;
          padding-left: 10%;
          padding-right: 10%;
        }
        #urubu {
            font-size: 25px;
            color:#941e32;
            font-family:Georgia, 'Times New Roman', Times, serif
            }
        .orpheu{
            background-color: #D2691E;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 25%;
                margin-right: 25%;
        }
        .orpheu_img {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 25%;
                margin-right: 25%;
                border: 5px dashed #D2691E;
        }
