body{
          			background: #FFEFD5;
        		    border: 12px double #800000;
		}
		#produtos { 
				background: #FFC284;  
                text-align: center;
                border: 5px dashed #D2691E;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
		}
                h1{
				font-size: 50px;
				text-align: center;
				color: #941e32;
                }
		.itens {
                color:#94283a;
		font-size: 25px;
           	}
		.itens_img {
			 border: 5px dashed #D2691E;
		}
