body{
          			background: #FFEFD5;
        		    border: 12px double #800000;
            }
        h1 {
                    font-size: 55px;
                    text-align: center;
                    color: #941e32;
            }
        #comeco {
                color: #ff7b00;
                font-size: 25px;                    
                margin-left: 20px;
                margin-right: 20px;
        }
        #inicio {
                    border: 5px dashed #D2691E;
                    background: #FFC284;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
            }
        p       {
                font-size: 18px;
				text-align: center;
				color:#941e32;
                padding-left: 10%;
                padding-right: 10%;
                }
        .Orfeu {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 25%;
                margin-right: 25%;
                border: 5px dotted #D2691E;
            }
