        body{
          			  background: #FFEFD5
        		}
        h1 {
                    font-size: 55px;
                    text-align: center;
                    color: #941e32;
                }
        #inicio {
                    background: #FFC284;
                }
                    p {
                        font-size: 18px;
				text-align: left;
				color: #ca475d;
                    }
        #produtos { 
				background: #FFC284;
                text-align: center;
			}
                h2{
				font-size: 50px;
				text-align: center;
				color: #941e32;
                }
        #beneficios { 
				background: #FFC284;
                text-align: center;
                }
        h3{
                font-size: 50px;
				text-align: center;
				color: #941e32;
        }
